/* "$h-content" se recibe del archivo "organisms/header.scss" */

.e-menu {
	margin: 0px;
	padding: 0px;
	height: $h-content;
	overflow: hidden;
	&-item {
		list-style: none;
		float: left;
		height: $h-content;
		&-link {
			border-radius: 5px; 
			color: black;
			text-decoration: none;
			padding: 0px 10px;
			line-height: $h-content;
			display: block;
			transition: all .25s ease-in-out;
			&:hover{
				cursor: pointer;
				background-color: gray;
				color: white;
			}
		}
	}
}

