include ./_config/pug/_variables.pug

doctype html
html(lang="#{idioma}")
	head
		include ./_config/pug/head-config.pug
		include ./_config/pug/styles-config.pug
	body
		p Hello world!
		//- include ./scripts.js